

/*  Index   */
.index {
    max-width: 25%;
    border: 1px solid black;
    margin-right: auto;
    font-size: .9rem;
    padding: 1em .75em;
    align-self: start;
    position: sticky; /* Tried putting position relative on the main container but the sticky is not working */

    &__title {
        margin: 0;
        font-size: $size4;
        text-transform: uppercase;
    }

    &__list {
        list-style-position: inside;
        padding-left: 0;
        line-height: 1.5;

        li {
            margin-bottom: 0.6em;
        }
    }
}

/*  Hero    */
.hero {
    height: 90vh;
    padding: 2em 0;
    /*  
      el padding hace que en mobile el texto
      quede muy centrado, agregar clases de 
      bootstrap para que el padding se agregue
      según el breakpoint
    */
    display: flex;
    /*  Styles for background imgs */
    max-width: 100%;
    object-fit: cover;
    background-position: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__title,
    &__text {
        background-color: $black;
        color: $white;
        font-family: $font-title;
        align-self: start;
        justify-self: center;
        margin: 0.3em 0;
    }

    &__title {
        font-size: $size1;
        padding: 0.21em 0.3em;
    }

    &__text {
        font-size: $size4;
        padding: 0.3em 0.6em;
        margin-bottom: 3rem;
    }

}


/*  Summary     */
.summary {
    margin-bottom: .3em;
    max-width: 70%;
    margin-left: auto;

    &__list-item {
        margin-bottom: .6em;
    }

    &__title--main {
        font-size: $size3;
        margin-top: 0;
    }

    &__title--article {
        text-transform: uppercase;
        font-size: $size4;
    }
}


/*  Card    */
.card {
    max-width: 600px;
    background-color: $light-gray;
    margin: 1em 0;
    padding: .3em 1em;

    &__title {
        text-transform: uppercase;
        font-size: $size4;
        margin: .5em 0;
    }

    &__list {
        padding: 0;
        list-style-position: inside;
        list-style-type: square;
    }

    &__link {
        font-size: .9em;
    }
}


/*  Navbar */
.navbar {
  background-color: $black;

  a {
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
  }

  &-brand {
    font-size: $size4;
    text-transform: uppercase;
    font-family: $font-logo;
  }
}

/*  Button  */
.btn {
    background-color: $black;
    color: $white;
    font-weight: 700;
    padding: .5rem 1rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    font-size: $base-size;
    font-family: $font-text;
    text-transform: uppercase;
    font-weight: 600;
    /*  align-self stops the btn from stetching
        the full width of the container  */
    align-self: start;

    &:hover,
    &:focus {
        background-color: $primary;
        color: $white;
        transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }

    &--secondary {
        align-self: flex-start;
        justify-self: space-between;
        max-width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus {
            background-color: $white;
            color: $black;
            border: 3px solid $black;
        }
    }
}
