/*  Sections on index.html  */
#awareness {
    background-image: url(../img/hero/hero_awareness.jpg);
}

#investing {
    background-image: url(../img/hero/hero_investing.jpg);
}

#studies {
    background-image: url(../img/hero/hero_studies.jpg);
}

#web_development {
    background-image: url(../img/hero/hero_web_development.jpg);
}

#worldbuilding {
    background-image: url(../img/hero/hero_worldbuilding.jpg);
}

/*  Hero Img for Investing */
#bullshit_jobs {
    background-image: url(../img/hero/hero_bulshit_jobs.jpg);
}

#age_cryptocurrency {
    background-image: url(../img/hero/hero_age_cryptocurrency.jpg);
}

#getting_started {
    background-image: url(../img/hero/hero_getting_started.jpg);
}

/*  Hero Img for Studies */
#whose_story {
    background-image: url(../img/hero/hero_whose_story.jpg);
    background-position: right;
}

#men_explain {
    background-image: url(../img/hero/hero_men_explain.jpg);
}

#mal_educadas {
    background-image: url(../img/hero/hero_mal_educadas.jpg);
}

#love_languages {
    background-image: url(../img/hero/hero_love_languages.jpg);
    background-position: left;
}

#refuse_choose {
    background-image: url(../img/hero/hero_refuse_choose.jpg);
    background-position: right;
}

#princess_diarist {
    background-image: url(../img/hero/hero_princess_diarist.jpg);
    background-position: center right;
}

#medea_hypothesis {
    background-image: url(../img/hero/hero_medea_hypothesis.jpg)
}

/*  Hero Img for Web Development */
#biblia_bootstrap {
    background-image: url(../img/hero/hero_biblia_bootstrap.jpg);
    background-position: left;
}


/*  Hero Img for Reading List */
#reading_list {
    background-image: url(../img/hero/hero_reading_list.jpg);
}