/*  Sections on index.html  */
#awareness {
    background-image: url(../img/hero/hero_awareness.jpg);
}

#investing {
    background-image: url(../img/hero/hero_investing.jpg);
}

#studies {
    background-image: url(../img/hero/hero_studies.jpg);
}

#web_development {
    background-image: url(../img/hero/hero_web_development.jpg);
}

#worldbuilding {
    background-image: url(../img/hero/hero_worldbuilding.jpg);
}


/*  Hero Img for Investing */
#bullshit_jobs {
    background-image: url(../img/hero/hero_bulshit_jobs.jpg);
}
