*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: $base-size;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.accordion {
    margin: 1rem 0;
}