body {
    font-family: 'Nunito';
    font-size: 1.25rem;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

.highlight {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 1.5em auto;
}