

body {
    font-family: $font-text;
    font-size: 1.25rem;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

.highlight {
    font-size: $size4;
    max-width: 80%;
    margin: 1.5em auto;
}

strong {
    font-weight: 700;
}

label {
    display: inline;
}

.completed {
    color: $primary;
}

p {
    line-height: 1.75;
}

code, 
pre code{
    color: $darker-gray;
}