//  COLORS
$white: #ffffff;
$black: #0A0F0D;

$light-gray: #E0E1DD;
$dark-gray: #C4CBCA;

$primary: #E01541;
$primary-light: #EE4266;

// FONTS

$font-text: 'Montserrat', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-logo: 'Montserrat Subrayada', sans-serif;

// SIZES
